body {
    padding-top: 5rem;
}
.form-group{
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
}



button{
    background-color: rgb(47, 47, 214);
    color: white;
    width: 5rem;
    border-radius: 5px;

}
label{
    font-weight: bold;
}